[Unit]
Description=Dropbox

[Service]
ExecStart=/usr/bin/dropbox start -i
Type=forking
PIDFile=/home/edgewood/.dropbox/dropbox.pid

[Install]
WantedBy=default.target
