[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/edgewood/bin/firefox-profile secure %u
Icon=/home/edgewood/.icons/firefox-alt.png
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Firefox - Secure
Comment=secure profile
X-XFCE-Source=file:///usr/share/applications/xfrun4.desktop
Path=
