[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox - work
Comment=
Icon=firefox-blue.png
Exec=firefox-profile work
Path=
Terminal=false
StartupNotify=false
