set record=+.archive			# overriden by fcc-hooks

# It appears that, in the reverse of the pattern for send-hooks, the *first* matching
# hook takes effect.

unhook save-hook

# ecommerce messages
save-hook "%f ecommerce"	+.ecommerce
save-hook "~s 'AT&T Payment Processed for Account Ending in 4069'"	+.ecommerce
save-hook "~s 'You sent an automatic payment to '"	+.ecommerce

# override default save-hook
save-hook "."			"+.%u"

# Specify where to save composed messages
#   fcc-hook [!]<pattern> <mailbox>
fcc-hook "~C .*-acceptsub.*@yahoogroups.com"					/dev/null
