# start out fresh
unhook send-hook

#send-hook .			'my_hdr Message-ID:<`date +"%s"`.`(id; echo $$; date) | md5sum | cut -c 1-5`@strabo.loghyr.theblackmans>'

# default identity and alternates
send-hook .				my_hdr "From: Identity_default"
send-hook "~t vim_use@googlegroups.com" my_hdr "From: Identity_vim"

# change signatures depending on identity
send-hook .				set signature="~/.mutt/sigs/default.sig"

# some people can't easily read mime_forward messages
send-hook .				set mime_forward=yes

# help other Jaycees to not break the rules about followups to the list by
# unsetting followup_to for those lists
send-hook . "set followup_to=yes"
send-hook "~t broadcast" "set followup_to=no"
send-hook "~t projects" "set followup_to=no"

